* {
  font-family: Manrope;
  color: white;
}

body {
  margin: 0;
  background-color: #140e17;
  padding: 64px 20px 220px 20px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-weight: 800;
  font-size: 68px;
  line-height: 110.00000000000001%;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

.mt-64 {
  margin-top: 64px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.short-card {
  display: flex;
  align-items: center;
  gap: 112px;
}

.my-photo-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.short-description {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.short-description p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.write-btn {
  margin-top: 42px;
}

.social-links {
  margin-top: 32px;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.social-link {
  border: 1px solid #333333;
  border-radius: 18px;
  padding: 8px 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.social-name {
  width: 164px;
  display: inline-block;
  text-align: center;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bio-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.job-company {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.work-experience {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.portfolio-card {
  display: flex;
  align-items: center;
  gap: 48px;
}

.time {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #76757b;
}

.job-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #76757b;
}

.job-position {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.main-border {
  border: 1px solid #333333;
  border-radius: 18px;
}

.padding24 {
  padding: 24px;
}

.portfolio-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.write-btn {
  box-sizing: border-box;
  border: 1px solid #333333;
  border-radius: 18px;
  padding: 24px;
  max-width: 232px;
  width: 100%;
  max-height: 61px;
  height: 100%;
  color: #333333;
  background-color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bold {
  font-weight: bold;
}
